@* 
    Partial para mostrar notificaciones como pop-ups en la esquina inferior derecha
    Se renderiza una sola vez en el layout y se reutiliza con JavaScript
*@

<div id="notificationPopupContainer"></div>